export(matrix_population_model)
export(dominant_eigenvalue)
export(stable_stage_distribution)
export(build_target_mask)
export(apply_perturbation)
export(population_reduction)
export(simulate_dynamics)
export(perturbation_grid)
export(perturbation_grid_from_frequencies)
export(grid_scenarios)
export(run_grid)
export(compute_vulnerability)
